{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Webpages</title>

  {% include './elements/headers.html' %}

  <style media="screen">
    :root {
      --primary-color: #c49b63;
    }
  </style>
</head>

<body>
  <div class="d-flex align-items-stretch">
    <div class="page-content form-page">
      <div class="bg-dash-dark-2 py-4">
        <div class="container-fluid">
          <h2 class="h5 mb-0">Single Webpage Admin</h2>
        </div>
      </div>
      <div class="container-fluid py-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 py-3 px-0">
          </ol>
        </nav>
      </div>
      <section class="pt-0">
        <div class="container-fluid d-flex justify-content-center align-items-center" style="min-height:75vh">
          <div class="row gy-4 container-fluid">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="h4 mb-0">Webpages</h3>
                </div>
                <div class="card-body pt-0">
                  <p class="text-sm">Create or Edit Webpages</p>
                  <form>
                    <div class="mb-2">
                      <label class="form-label" for="exampleInputPassword1">Password</label>
                      <input class="form-control" id="exampleInputPassword1" type="password">
                    </div>
                    <div class="row">
                      <div class="col-6 create-pages mt-3">
                        <div class="mb-3">
                          <label class="form-label" for="exampleInputPassword1">Webpage Name</label>
                          <input class="form-control" id="exampleInputPassword1" type="text">
                        </div>
                        <div class="col-lg d-flex justify-content-end">
                          <button class="btn btn-primary" type="submit">Create</button>
                        </div>
                      </div>
                      <div class="col-6 edit-pages mt-3">
                        <label class="form-label" for="exampleInputPassword1">Choose Webpage</label>
                        <select class="form-control bg-dark optSelect">
                          <option selected>Choose...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <div class="col-lg d-flex justify-content-end">
                          <button class="btn btn-primary" type="submit">Edit</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</body>

</html>